<div class="wrapper">
  <div class="alert">
    {{ message }}
  </div>

  <h5>
    Each time we route between pages the button will dynamically render, like
    context button.
    <br />
    <br />
    We define button behavior inside the component, but render it somewhere
    (navbar).
    <br />
    <br />
    So the navbar knows nothing about the component !
  </h5>
  <action-button>
    <button class="btn btn-outline-danger" (click)="handleHomeClick()">
      Home
    </button>
  </action-button>
</div>
